body{font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;}
    *{margin: 0px;
    padding: 0px;}
    .banner{display: flex;
        background: rgba(229, 84, 115, 0.10);
        height: 340px;
    justify-content: space-around;
align-items: center;
padding: 80px;}
.banner-img{width: 435px;
    height: 500px;
padding: 10px;}
    .banner-desc{margin-bottom: 20px;}
    .banner-btn{margin-top: 20px;
        color: #FFF;
     
        font-size: 16px;
       padding: 10px;
        font-weight: 700;
      border: none;
        border-radius: 8px;
        background: #E55473;}
 .banner-p{
    color: rgba(39, 39, 39, 0.60);
    ;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
 }
 .our{text-align: center;
    margin-top: 100px;}
    .our-desc{
       margin-top: 30px;
            color: rgba(39, 39, 39, 0.60);
            text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;  
    }
    .picture{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 150px 0px 150px;
        padding: 60px;
    }
    .picture-img{height: 200px;padding: 30px;
        margin-top: 50px;
        
        border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
   .tour{height: 230px;
    width: 200px;}  
    
    .flower{margin-top: 20px;
        color: #272727;
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
    }
    .top-flower{display: flex;
        border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
    justify-content: space-around;
margin-top: 180px;
padding: 50px;
margin:100px 200px 0px 200px;}
.top-img{width: 50px;
    height: 50px;
   }
   .top-p{
text-align: center;
margin-top: 10px;
margin-left: -60px;
   }
   .top-s{
    margin-top: 10px;
    margin-left: -20px;
   } 
   .deal-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
height: 540px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
   }
   .deal-img{
    width: 300px;
height: 320px;

   }
   .deal-p{
    text-align: center;
   }
   .deal-h1{
    text-align: center;
   }
   .deal-btn{
    text-align: center;
    margin-left: 240px;
    margin-top: 20px;
    color: #FFF;
font-family: Lato;
padding: 10px 20px 10px 20px;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 8px;
background: #E55473;
  border: none; }
